.icons {
   margin-left: 33%;
   margin-right: 33%;
   margin-top: 32px;
}

.icons-text {
   text-align: center;
   margin-top: 32px;
   margin-bottom: 64px;
}

.content-about {
   margin: auto;
   color: #000;
   font-size: 18px;
   max-width: 900px;
   line-height: 24px;
   text-align: center;
   padding-bottom: 64px;
 }