.maintenance-modal-body {
   position: relative;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 1rem;
   /* background-color: khaki; */
   height: 1090px !important;
 }

 .container-position {
  /* margin-left: 100px; */
  margin-right: 100px;
  margin-top: 20px;
 }

 .ml-16 {
   margin-left: 16px;
 }